<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>
    {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <meta
    name="description"
    content="{% if page.excerpt %}{{
      page.excerpt | strip_html | strip_newlines | truncate: 160
    }}{% else %}{{ site.description }}{% endif %}"
  />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css"
    integrity="sha256-xpOKVlYXzQ3P03j397+jWFZLMBXLES3IiryeClgU5og= sha384-gP4DhqyoT9b1vaikoHi9XQ8If7UNLO73JFOOlQV1RATrA7D0O7TjJZifac6NwPps sha512-AKwIib1E+xDeXe0tCgbc9uSvPwVYl6Awj7xl0FoaPFostZHOuDQ1abnDNCYtxL/HWEnVOMrFyf91TDgLPi9pNg=="
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="../css/font-awesome.css"">
  <link rel="stylesheet" href="../css/lightgallery.min.css" />
  <link rel="stylesheet" href="../css/justifiedgallery.min.css" />
  <link rel="stylesheet" href="../css/style.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Raleway:400,700,300"
    media="screen"
    rel="stylesheet"
    type="text/css"
  />
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
</head>
