<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <ul class="menu menu-hover-lines align-center">
            <li class="active" data-filter="*">
              <a href="#">All</a>
            </li>
            {% for class in page.classes %}
            <li data-filter=".{{ class }}">
              <a href="#"> {{ class }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <br />

    <div class="grid-container">
      <div class="grid-x gallery">
        {% for work in page.works %}
        <div
          class="cell small-12 medium-6 large-4 {{ work.class }} "
          data-category="transition"
        >
          <a href="{{ work.link }}">
            <img src="images/{{ work.image }}" />
            <div class="overlay">
              <div class="info">
                <h3>{{ work.title }}</h3>
                <p>{{ work.desc }}</p>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <br />

    {% include footer.html %}

    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="/js/galleryMenu.js"></script>
  </body>
</html>
